## Binary
wolfasm
build/*

## Valgrind ##
vgcore.*

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.iso
*.bin

# Debug files
*.dSYM/
*.su

# IDE Directories
.vscode/

# gdb
.gdb_history

# qemu
*.img

# OSX
.DS_Store
